*.rbc
capybara-*.html
.rspec
/log
/tmp
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

/.bundle
/vendor/bundle

.rvmrc
/vendor/assets/bower_components
*.bowerrc
bower.json

.powenv
/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.byebug_history
